*{
    padding:0;
    margin:0;
    border-color:#E5E5E5;
    font-family: "Inter", sans-serif;
}

#left,#right{
    max-height:100vh;
    width:40vw;
    padding:4rem;
    overflow-y:none;
}

#left{
    background-color:rgb(28, 28, 28);
    color:white;
   
}

.li1{
    list-style-image: url("images/rocket.svg");
}


.li2{
    list-style-image:url("images/shield.svg")
}

.li3{
    list-style-image:url("images/enterprise.svg")
}

#logo{
    margin-bottom:3rem;
}



#left h2{
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 45px;
    line-height: 110%;
    letter-spacing: -0.03em;
}



ul li{
    padding-top:14px;
    
}

ul{
    display:flex;
    flex-direction:column;
    gap:6px;
    font-family: "Inter", "Inter Fallback";
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: .01em;
}

#right{
    background-color:white;
    color:black;
    position:absolute;
    right:0;
    top:0;
    padding:7rem 2.5rem;
}

li {
  list-style-position: inside;
}

ul li span{
    position:relative;
    top:-5px
}

#left p{
    color:#949494;
    margin-bottom: 3rem;
    margin-top:3rem;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.01em;

}

.logos{
    display:flex;
    justify-content:space-between;
    position:relative;
    left:-4px;
    margin-bottom:3rem;
    padding:0
}

.logos img{
    width:80px;
}

#left .star span{
    position:relative;
    top:-4px
}

#right h2{
    margin-bottom:8px;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.625rem;
    letter-spacing: 0;
    
}

#right p{
    margin-bottom: 36px;
    opacity:0.6;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: .01em;
   
}

#right label{
    font-family: "Inter", sans-serif;
    font-size:0.9375rem;
    margin-bottom:8px;
}

#right input{
    font-size:1rem;
    padding:12px 16px;
    border: 1px solid rgb(231 229 228);
    border-radius:12px;
    max-height:44px;
    opacity:0.8;
    width:85%;
}

#right .form{
    display:flex;
    flex-direction:column;

}

.last{
    margin-top:5rem;
    display:flex;
    justify-content:space-between;
    position:relative;
    left:-5px;
}

.last button{
    cursor: not-allowed;
    color:white;
    padding-left:16px;
    padding-right: 16px;
    background-color:#6E6E6E;
    height:40px;
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0em;
    border:0;
    border-radius:24px;
}

.last div{
    
    display:flex;
    justify-content:space-around;
    gap:8px;
    position:relative;
    left:-20px;
    top:8px
}

.last .first{
    background-color:rgb(0, 0, 0);
    width:80px;
    border-radius:999px;
    height:5px;
}

.last .sec{
    background-color:#E5E5E5;
    width:80px;
    border-radius:999px;
    height:5px;
}