@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    
    margin:0;
    padding:0
}

body{
    background-color:#fafafa;
    color:#001049;

}

nav{
    display:flex;
    padding:1rem;
    font-family:Lato, 'Lato Fallback';
    align-items: center;
    justify-content: space-between;
    gap:8px;
    margin-top:0;
    padding:16px;
    font-size: 24px;
    letter-spacing: -0.5px;
    color:lab(11.0101% 14.3499 -42.1491);
    text-decoration: inherit;
    line-height: 2;
    outline-color: color-mix(in oklab, lab(36.0966% -1.55815 -10.853) 50%, transparent);
    font-weight:500;
    background-color:white;

}

.left{
    display:flex;
    gap:2rem;
    width:50vw;
}

nav .right{
    width:50vw;
    display:flex;
    justify-content:end;
    gap:1rem;
}



.right .search{
    font-size:14px;
    line-height:calc(1.25/.875);
    padding-right:135px;
    padding-top:8px;
    padding-bottom:0px;
    padding-left:20px;
    border:1px solid lab(91.6229% -.159115 -2.26791);
    border-radius:10px;
    box-shadow:0 0 #0000,0 0 #0000,0 0 #0000, 0 0 #0000, 1px 1px 0 #0000000d;
    text-align:left;
    opacity:0.8;
    font-weight:400;

}


.profile{
    border-radius:3.40282e38px;
    color: #fff;
    font-weight: 600;
    background-color: #150861;
    justify-content: center;
    align-items: center;
    display: flex;
    width:2.75rem;
    height:2.5rem;
    font-size:18px;
}

.profile:hover{
    background-color: rgba(21, 8, 97, 0.9);
}

.left .font-bold{
    font-weight:700;
    font-size:1.25rem;
    letter-spacing:-.025em;
    color: #1f1f1f;
    text-decoration: inherit;
    line-height: 1.5;

}

main{
    display:flex;
    justify-content:space-between;
    padding:80px 20px;

}

.pic img{
    width:540px;
    height:480px;
}

.text-red-600{
    color:red;
    font-weight:600;
}

nav a{
    color:lab(11.0101% 14.3499 -42.1491);
    text-decoration:inherit;
    font-size:0.875rem;
}

.top{
    position:relative;
    top:-2px;
}

.cta{
    padding-top:70px;
    width:46vw;
}

.cta h1{
    font-size:72px;
    letter-spacing:-0.05em;
    font-family: Lato, Lato Fallback;
    font-style: normal;
    font-weight:700;
}

.cta div{
    font-family: Lato, Lato Fallback;
    color: lab(7.78201% -.0000149012 0);
    font-size:13px;
    line-height:calc(1.25/.875);
    outline-color:lab(91.6229% -.159115 -2.26791);
    border:1px dashed lab(38.21% -0.83 -9.43);
    font-style: normal;
    padding:5px 12px;
    width:46%;
    border-radius:16px;

}

.info{
    color:lab(41.8875% -4.09435 -17.2927);
    letter-spacing:0.4px;
    font-size:14px;
    padding-top:10px;
    padding-bottom:20px;
}

button{
    cursor:pointer;
    font-size:15px;
    line-height:calc(1.5/1);
    padding:12px 8px;
    box-shadow:0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 1px 0 #0000000d;
    color:lab(11.0101% 14.3499 -42.1491);
    background-color:transparent;
    border:1px solid #001959;
    border-radius:10px;
    margin-left:8px;
    width:24%;
    outline-color:color-mix(in oklab, #4b5666 50%, transparent);
}

#left:hover{
    background-color:rgb(225, 224, 224);
}

#right{
    color:white;
    background-color:#001959;
}

#nums{
    display:flex;
    justify-content:center;
    align-items:center;
    width:90vw;
    margin-left:2vw;
    margin-right:2vw;
    background-color:lab(11.0101% 14.3499 -42.1491);
    font-family: Lato, 'Lato Fallback';
    font-style: normal;
    border-radius:12px;
    border-top-right-radius: 140px;
    margin-bottom:20px;
    padding:32px;
}

.card{
    width:33%;
    height:120px;
}

.border{
    background-color:white;
    width:2px;
    height:65px;
    margin-left:95%;
    position:relative;
    bottom:120px;

}


#nums svg{
    padding:10px;
    background-color: #babaffb2;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin:20px;
}

.stats{
    color:lab(90.952% 0 -.0000119209);
    font-weight:600;
    font-size:36px;
    line-height:calc(2.5/2.25);
    display:inline;
    position:relative;
    top:-30px;
}

#nums .info{
    color:#e5e5e5b3;
    width:100%;
    position:relative;
    left:90px;
    top:-40px;
}

.last{
    display:flex;
    justify-content:center;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:80px;
    font-family: Lato, Lato Fallback;
    font-style: normal;
    gap:20px;
    color:lab(98.26% 0 0)
}

.green{
    width:1250px;
    padding:32px 16px;
    padding-right:32px;
    background-color:lab(61.2815% -53.312 -.356901);
    border-radius:12px;
    border-top-right-radius: 44px;
    border-bottom-left-radius: 44px;
    display:flex;
    flex-direction:column;
    grid-column: span 3 / span 3;
    font-family: Lato, Lato Fallback;
    font-style: normal;
}

.blue{
    padding:32px;
    background-color:lab(11.0101% 14.3499 -42.1491);
    vertical-align: middle;
    border-radius:12px;
    border-top-right-radius: 44px;
    border-bottom-left-radius: 44px;
    display:flex;
    flex-direction:column;
    grid-column: span 2 / span 2;
    font-family: Lato, Lato Fallback;
    font-style: normal;
}

.green svg,.blue svg{
    vertical-align: middle;
    position:absolute;
    width:100%;
    height:43%;
    top:143vh;
    left:20px;
    opacity:0.1;
}

.last h3{
    font-size:36px;
    line-height:calc(2.5/2.25);
    letter-spacing:-0.9px;
    font-family: Lato, Lato Fallback;
    font-style: normal;
    font-weight:600;
}

.green p{
    color:lab(98.26% 0 0);
}

.last p{
    letter-spacing:-0.45px;
    font-size:18px;
    line-height:calc(1.75/1.125);
    margin-top:12px;
    margin-bottom:12px;
}

.last div div{
    display:flex;
    flex-direction: row;
    gap:8px;
    flex-wrap:wrap;
}

.last div div div{
    color:lab(61.2815% -53.312 -.356901);
    padding:8px;
    background-color:white;
    border-radius: 3.40282e38px;
    padding-left:16px;
    padding-right:16px;
}