*{
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


body{
    margin: 0;
    padding:0;
    color:white;
    background-color: #020a17;
}
a{
    color:white;
    text-decoration:none;
}

.hero {
  height: 90vh;
  /* IMAGE + OVERLAY */
  background:url("bg.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;

}

navbar{
    display:flex;
    justify-content:space-between;
    background:#0d1117;
    padding:10px;
    margin-bottom:0
}

h1{
    color:#e6eefA;
    font-size: 74px;
    max-width: 1000px;
    z-index: 10;
    text-wrap: balance;
    margin-bottom: 2.5rem;
    position: relative;
    font-weight: 700;
    margin-top: 2rem;
    line-height: 120%;
    letter-spacing: -0.8px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    text-align: center;
}

.underlined{
    text-decoration: underline;
}

.navbar-brand{
    font-size: 20px;
    letter-spacing: -0.2px;
    font-weight: 600;
    color:#c3d0e5;
    background-color: transparent;
    padding-left: 0 12px;
}

.link-button{
    font-size: 16px;
    color: #9d9d9d;
    font-weight: 600;
    line-height: 100%;
    padding: 8px 12px;
    border-radius: 4px;
}
.navbar-right{
    width:30%
}


navbar button{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #027de9;
    border:none
}

.navbar-right .search-icon-container{
    position:relative;
    top:2px
}

.banner{
    display:flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    color:#9fb1d1;
    background-color: #020a17;
    background:linear-gradient(135deg, #0D1117, rgba(0, 32, 80, 0.25), rgba(0, 32, 80, 0.25), #0D1117);
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-color: #34373e;
    padding:0;
    margin:0;
}

.banner a{
    color: #4daafc;
    text-decoration: underline;

}

.terms{
    font-size: 11px;
    font-weight: 400;
    color:#e6eefa
}

.extra{
    display: flex;
    justify-content:space-evenly;
    font-size: 16px;
    margin-top:6rem;
    margin-bottom:6rem;
}

.extra img{
    width:500px;
    background: url('hero-background.webp');
    padding: 40px;
    border-radius: 12px;
}

.extra h2{
    color: var(--header-foreground);
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-top: 0;
    line-height: 150%;
    font-size: 30px;
}

.extra a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    color:#4daafc
}

.extra .left{
    width:30%;
    line-height: 160%;

}

.extra p{
    color:#9fb1d1;
    font-weight: 500;
}

div button{
    border: solid 1px var(--button-primary-border);
    background: var(--foreground-intense);
    color: #000b1b;
    padding: 12px 26px;
    border-radius: 10px;
    background-color: #e6eefA;
    outline: solid 1px rgba(0, 0, 0, 0);
    outline-offset: 0px;
    padding: 12px 16px;
    outline: solid 2px var(--foreground-intense);
    
    
}

.cta-button{
    margin-top:3rem;
    z-index: 10;
    padding:12px 16px;
    color:black;
    border-radius: 10px;
    width: fit-content;
    max-width: 90%;
    background-color:#191e25;
    position:relative;
    margin:auto;
    text-align: center;
}

#cta-button{
    color:rgb(15, 15, 15);
    z-index: 10;
    padding: 12px 36px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 12px;
}

#cta-button svg{
    position:relative;
    top:5px
}

.alt-downloads{
    font-weight: 500;
    font-size: 12px;
    color: #e6eefA;
    margin-top: 16px;
}

.navbar-right{
    display: flex;
    justify-content: space-around;
}

.input-group{
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,0.15);
    transition: background-color .2s ease;
    margin: 0;
    margin-right: 8px;
    padding:0 12px;
    color:rgb(159, 159, 159);
}
.input-group .search-shortcut-placeholder {
    height: 100%;
    line-height: 34px;
    font-size: .9em;
    
}

.search-shortcut-overlay{
    font-size: 11px;
    border-radius: 2px;
    border: 1px solid rgba(255,255,255,0.15);
    margin-left:10px;
    padding:2px;

}
